@page
@model IndexModel
@{
}
<h2>Music</h2>
<div>
    <a asp-page="Create">Add new Music</a>
</div>
@if (Model.afterAddMessage != null)
{ 
    <div>
        @Model.afterAddMessage
    </div>
}

<div>
    @if(Model.myConnections.Count()>0)
    {
        <form method="post">
            <div>
                <table>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m=>m.myConnections.FirstOrDefault().ArtistName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m=>m.myConnections.FirstOrDefault().AlbumName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m=>m.myConnections.FirstOrDefault().Rating)
                        </th>
                        <th></th>
                    </tr>
                    @foreach(var item in Model.myConnections)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.ArtistName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.AlbumName)
                        </td>
                        <td>
                                @Html.DisplayFor(m=>item.Rating)
                            </td>
                        <td>
                        <a asp-page="Edit" asp-route-id="@item.ID">Edit</a>
                        <button asp-page-handler="Delete" asp-route-id="@item.ID">&times;</button></td>
                    </tr>

                    }
                </table>
            </div>
        </form>
    } else
    {
        <p>No connections currently</p>

    }
</div>